/** #262315   #595438   #8C846C   #BFA584   #D9BC9A  #FFDDB5**/

body{
	margin: 0;
	color: #262315;
}

main{
	padding-bottom: 2em;
}

a{
	text-decoration: none;
	font-size: 1rem;
}

img{
	width: 100%;
}

.banner{
	width: 100%;
	position: relative;
	margin:0;
}

.seven-wonders{
	position: absolute;
	top: 24%;
	width: 100%;
	color: #FFDDB5;
	text-align: center;
}

.big-screen{
	position: absolute;
	top: 35%;
	width: 100%;
	color: #FFDDB5;
	text-align: center;
}

.showtime{
	position: absolute;
	top: 69%;
	left: 27%;
	color: #262315;
	text-align: center;
	border: 2px solid #262315;
	padding: 1rem;
	display: inline-block;
	background-color: white;
	width: 40%;
	text-align: center;
}

figure{
	margin:0 0 2em 0;
}

.logo{
	float: left;
	width: 10%;
	padding: 0 1em;
}

h1{
	float: left;
	margin: 0;
	color: #262315;
	font-size: 2rem;
}

h2{
	font-size: 1.5rem;
	text-align: center;
	margin: 0;
	padding-bottom: 1em;
}

h3{
	margin: 0;
}

p{
	margin-bottom: 2em;
}

footer p{
	margin: 0;
}

.large-center{
	width: 100%;
}

.buy{
	float: right;
	width: 10%;
	padding: 0.5em 0;
	margin: 0 1em 0 0;
	text-align: center;
	border: 2px solid #262315;
	color: #262315;
}

.buy:hover, .full:hover, .showtime:hover{
	background-color: #D9BC9A;
}

.top{
	padding: 1em 0;
	overflow: hidden;
	background-color: #FFDDB5;
}

header nav{
	clear: both;
	overflow: hidden;
}

header nav a{
	text-decoration: none;
	display: block;
	width: 100%;
	padding: 1em 0;
	color: #262315;
}

header nav li:hover{
	background-color: #BFA584;
	display: block;
}

header nav li{
	text-align: center;
	float: left;
	width: 25%;
}

li{
	list-style: none;
	padding: 0;
	margin: 0;
}

header nav ol{
	margin: 0;
	padding: 0 ;
	background-color: #D9BC9A;
	overflow: hidden;
}

ol{
	padding: 0;
}

footer{
	background-color: #FFDDB5;
	padding: 2em;
}

.everything-margin{
	margin: 0 2em;
}

.button{
	display: inline-block;
	width: 49%;
	text-align: center;
	margin-bottom: 3em;
}

.full{
	width: 100%;
	border: 2px solid #262315;
	padding: 1rem;
}

.center{
	text-align: center;
	margin: 0;
}

.no-margin{
	padding: 0;
	margin: 0;
}

.left-padding{
	padding-left: 2em;
	margin:0;
}

dt, dd{
	margin: 0;
}

dt{
	font-weight: bold;
}

.third-of-space{
	width: 30%;
	display: inline-block;
	padding-right: 1%;
}

.tickets{
	margin: 0;
	padding: 0;
}

.right-space{
	width: 94%;
}
