/** #262315   #595438   #8C846C   #BFA584   #D9BC9A  #FFDDB5**/

body{
	margin: 0;
	font-color: #262315;
}

a{
	text-decoration: none;
	style: none;
}

img{
	width: 100%;
}

.banner{
	width: 100%;
	position: relative;
	margin:0;
}

.seven-wonders{
	position: absolute;
	top: 24%;
	width: 100%;
	color: #FFDDB5;
	text-align: center;
}

.big-screen{
	position: absolute;
	top: 35%;
	width: 100%;
	color: #FFDDB5;
	text-align: center;
}

.showtime{
	position: absolute;
	top: 87%;
	width: 100%;
	color: #262315;
	text-align: center;
}

figure{
	margin:0;
}

.logo{
	float: left;
	width: 10%;
	padding: 0 1em;
}

h1{
	float: left;
	margin: 0;
	color: #262315;
	font-size: 2rem;
}

h2{
	font-size: 1.5rem;
	text-align: center;
}

.center{
	text-align: center;
}

.large-center{
	width:100%;
}

.buy{
	float: right;
	width: 10%;
	padding: 0.5em 0;
	margin: 0 1em 0 0;
	text-align: center;
	border: 2px solid #262315;
	color: #262315;
}

.buy:hover{
	background-color: #D9BC9A;
}

.top{
	padding: 1em 0;
	overflow: hidden;
	background-color: #FFDDB5;
}

header nav{
	clear: both;
	overflow: hidden;
}

header nav a{
	text-decoration: none;
	style: none;
	display: block;
	width: 100%;
	padding: 1em 0;
	color: #262315;
}

header nav li:hover{
	background-color: #BFA584;
	display: block;
}

header nav li{
	text-align: center;
	float: left;
	width: 25%;
}

li{
	list-style: none;
	padding: 0;
	margin: 0;
}

header nav ol{
	margin: 0;
	padding: 0 ;
	background-color: #D9BC9A;
	overflow: hidden;
}

footer{
	margin:2em;
}

.nav-footer li{
	width: 20%;
}

.everything-margin{
	margin: 2em;
}
